.pointer {
    cursor: pointer;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

body, input {
    background-color: #111;
    color: #ddd;
}

h1,h2,h3,h4,h5,h6 {
    font-family: serif;
    font-variant: small-caps;
}

h4:not(.footer),
h5:not(.footer),
h6:not(.footer) {
    margin-top: 0px;
}

h4.footer,
h5.footer,
h6.footer {
    margin-bottom: 0px;
}

a {
    text-decoration: none;
    color: #0f0;
}

a:visited {
    color: #f80;
}

a:active {
    color: #f22;
}

input:focus, button:focus {
    outline: none;
}

button {
    padding: 4px;
    margin-right: 5px;
    color: #000;
    background-color: #888;
    border-radius: 5px;
    border: none;
}

button:active {
    color: #888;
    background-color: #000;
}

.addButton {
    margin-left: 5px;
}

/* Dashboard */

.dashboard {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    padding: 5px;
    border-bottom: 1px solid #ddd;
    z-index: 10;
}

.dashboard .container {
    height: 190px;
    /*max-height: 500px;*/
    transition-property: /*max-height;*/ all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    overflow: hidden;
}

.dashboard .placeBox {
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
}

.dashboard .container.closed .placeBox {
    overflow: visible;
}

.dashboard .container.closed {
    height: 0px;
    /*max-height: 0px;*/
}

.dashboard .expander {
    cursor: pointer;
    height: 16px;
}

.expander.open {
    background: url('chevron-up.png') center no-repeat;
}

.expander.closed {
    background: url('chevron-dn.png') center no-repeat;
}

/* Weather box */

.box {
    display: inline-block;
    background-color: #444;
    padding: 5px;
    margin: 5px 5px 0px 0px;
    border-radius: 5px;
    min-width: 150px;
    max-width: 100%;
    vertical-align: top;
}

.box > .header > .button {
    cursor: pointer;
}

.box.conditions {
    background-color: #222;
}

.box.conditions > .body {
    max-height: 120px;
    overflow-y: auto;
}

.box > .body {
    max-height: 1000px;
    transition: 0.2s ease-in-out all;
    overflow-x: auto;
}

.box.shade > .body {
    max-height: 0px;
    max-width: 0px;
    overflow: auto;
}

.box > .header {
    border-radius: 5px 5px 0px 0px;
    margin: -5px -5px 5px -5px;
    padding: 5px;
    background-color: black;
    color: #ddd;
}

.header > .button {
    float: right;
    vertical-align: middle;
    text-align: center;
    margin-right: 2px;
    background-color: #444;
    border-radius: 8px;
    width: 16px;
    height: 16px;
    font-size: 8pt;
}

.box.conditions > .header > .button {
    background-color: #111;
}

.box.conditions > .header {
    background-color: #444;
}

.header > .button:hover {
    background-color: #464;
}

.header > .button:active {
    background-color: #262;
}

.box.float {
    float: left;
}

.dashboard .box,
.dashboard button,
.dashboard input {
    font-size: 80%;
}

/* Weather box close button */

.float-button:after {
    width: 16px;
    height: 16px;
    content: 'x';
    float: right;
    font-family: sans-serif;
    font-size: 12px;
    color: #0f0;
    background-color: #111;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    line-height: 16px;
}

.float-button:hover:after {
    background-color: #040;
}

.float-button:active:after {
    color: #111;
    background-color: #0f0;
}

/* Weather box loader */

.box .loader {
    content: url('ajax-loader-444.gif');
    display: block;
}

/* Error list */

.error {
    color: red;
}

.bulletless {
    list-style-type: none;
    margin-bottom: 0px;
    padding: 0px;
}

/* Content panel */

.contentPanel {
    position: relative;
    margin-top: 220px;
    transition-property: margin-top;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.contentPanel.up {
    margin-top: 27px;
}

.contentPanel .panel {
    background-color: #000;
    padding: 5px;
    height: 100%;
}

.center {
    text-align: middle;
}

.panel.top {
    border-bottom: 1px solid #111;
}

.panel.left {
    border-right: 1px solid #111;
    float: left;
}

.panel.right {
    border-left: 1px solid #111;
    float: right;
}

table {
    font-size: 14px;
}

td {
    padding: 3px;
}

td:first {
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #555;
}

tr:nth-child(odd) {
    background-color: #222;
}

.small {
    font-size: 10px;
}

.margin-left-10 {
    margin-left: 10px;
}

.forecast-segment {
    display: inline-block;
    padding: 3px;
    font-size: 85%;
}

.forecast-segment:not(:first-child) {
    margin-left: 3px;
}

.half-width {
    display: inline-block;
    width: 50%;
}